body {
}

.bookImg{
    float: left;
    height: 80px;
    width: 80px;
    
}

.itemLabel {
    float: left;
    margin: 0 0 0 3%;

    width: 85%;
    font-size: 2em;

}

.options {
    float: left;
    width: 87%;
    margin-left: 3%;
}

.priceLabel {
    float: left;
    font-size: 1.5em;
    margin: 0 0 0 3%;
    width: 87%;
    color: #656565;
}

.midBar {
    width: 1%;
    float: left;
    margin: 0 2%;
}

.quantity {
    float: left;
    margin: 0;
}

.quantityLabel {
    float: left;
    margin: 0;
    width: 7%;
}

.remove {
    margin: 0 2% 0 0;
    width: 3%;
    float: left;
}

.shoppingCartButton {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    background-color: lightblue;
    height: 20%;
    width: 80%;
    margin: 1% 10%;
    cursor: pointer;
    font-weight: 700;
}

.shoppingItem {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    width: 74%;
    float: left;
    margin: 0% 0 1% 0;
    padding: 1% 0 1% 0;
}

#buttons {
    margin-top: 5%;
    height: 50%;
    color:white;
    font-weight: 700;
}

#dynamicCart {
    height: auto;
    overflow-y: auto;
}

.topRow {
}

#topRowID {
    border-bottom: solid 1px black;
    font-size: 1.25em;
    margin-bottom: 2%;
}

#totals {
    float: right;
    border: solid 1px black;
    height: 50vh;
    z-index: 10;
    width:25%;
}

#totalsTable {
    width: 100%;
}


.totalsRow {
    margin-top: 80px;
    border: solid 1px black;
    border-collapse: collapse;
    font-size: 1.25em;
}

